<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; url=<%=url%>">
    <link rel="stylesheet" href="./css/pag2.css">
    <title></title>
</head>
<body>
    <div class="hed">
        <img src="./img/lojo.png" alt="">
    </div>
        
    <div class="haz" style="display: grid; justify-content: center; padding: 40px; text-align: center;">
        <p style="margin-bottom: 40px; text-align: center;font-size: 20px;">SUCCESSO</p>
        <!--  form  -->
        <img style="justify-self: center;" src="./img/checkmark_thanks.png" alt="">
        <P>GRAZIE</P>
        <div style="margin-top: 35px; margin-bottom: 50px; background-color: rgb(240, 240, 240); border-left: solid 9px rgb(34, 34, 182);">
            il tuo pacchetto ti sarà inviato entro 24 ore.
        </div>
    </div>
    <div class="fot">
        <img src="./img/fot1.PNG" alt="">
        <img src="./img/fot2.PNG" alt="">
    </div>
</body>
</html>