*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
}
.hed{
    background-color: #eedc00;
    padding: 15px 20px;
    display: grid;
    justify-content: center;
}
.hed img{
    width: 120px;
}
.haz{
    padding: 60px 40px;
    text-align: center;
}
p{
    font-size: 20px;
    margin: 30px 0;
}
span{
    font-weight: bold;
}

.btn1{
    width: 100%;
    border: none;
    background-color: #eedc00;
    padding: 15px;
    font-weight: bold;
    border-radius: 50px;
    font-size: 15px;
    margin-bottom: 20px;
}
.btn2{
    border: #eedc00 solid 1.7px;
    background-color: transparent;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 50px;
}
